.titlePannel {
    background-color: rgba(0, 0, 21, 0.2);
    height: 63px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleText {
    width: 80%;
}
.closeBtn{
    width: 20%;
    cursor: pointer;
}
.customHR {
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    border-top: 1px solid white;
}
.customUL {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.customUL li {
    padding: 10px 0px 0px 30px;
    color: white;
    height: 50px;
}
.customUL li:hover {
    background-color: #321fdb;
}
.navLink {
    color: white;
    font-weight: normal;
    font-size: 15px;
}
.navLink:hover {
    color: white;
    text-decoration: none;
}

//for IPAD
@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .titlePannel {
        height: 59px;
        font-size: 20px;
    }
    .navLink {
        font-size: 15px;
    }
}

//for Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .titlePannel {
        height: 58px;
        font-size: 20px;
    }
    .navLink {
        font-size: 15px;
    }
}
