.dashboardWrapper {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100%;
    width: 100%;
    background-color: #000000;
}
.leftMenu {
    height: 100%;
    overflow-y: hidden;
    background-color: #343a40;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    border-right: 1px black solid;
}
.rightContent {
    min-height: 100%;
    width: 100%;
    color: white;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}
.leftMenuOpen {
    width: 20%;
}
.leftMenuClose {
    width: 0%;
}
.blurOn {
    opacity: 0.5;
}
.blurOff {
    opacity: 1;
}
.profilePic {
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.footerWrapper {
    top: 100%;
    bottom: 0;
}
//for IPAD
@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {
}

//for Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .leftMenuOpen {
        width: 60%;
    }
    .hide-in-sm-device {
        display: none !important;
    }
}
