.buttonSet{
    width: 100%;
    padding-top: 3%;
    text-align: left;
}
.customButton-Blog{
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 18%;
    height: 45px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.leftMostBtn{
    margin-left: 0 !important;
}
.rightMostBtn{
    margin-right: 0 !important;
}
.offSetBtn{
    margin-left: 23% !important;
}
.offSetLgBtn{
    margin-left: 42% !important;
}
.addSection{
    font-size: 15px;
}
//media query
@media screen and (min-width: 768px) {
}

@media screen and (max-width: 600px) {
    .addSection{
        font-size: 12px;
    }
}