.noPadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.offSet6 {
    padding-left: 65%;
}
.stepInfo {
    font-size: 40px;
    font-weight: bold;
}
.headingController {
    padding-top: 5%;
}
.progressController {
    padding-top: 2%;
}
.stepController {
    padding-top: 5%;
}
.formStyle {
    text-align: left;
}
.formErrorMsg {
    color: rgb(226, 128, 128);
    text-align: left;
}
.overlayStyle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    background: rgba(0, 0, 0, 0.2);
    border: 2px dotted rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}
.sectionHead {
    background-color: rgb(77, 77, 77);
    padding: 5px;
}
.sectionTitle {
    padding: 5px;
    font-size: 25px;
    width: 25%;
    text-align: left;
}
.sectionController {
    font-size: 25px;
}
.sectionController i {
    padding-right: 5px;
    padding-left: 5px;
}
.sectionController i:hover {
    color: rgb(103, 167, 209);
    cursor: pointer;
}
.showBlock {
    display: block;
}
.hideBlock {
    display: none;
}
//for view blog
.readBlogsContainer {
    background-color: white;
    color: black;
    padding: 35px !important;
}
.descriptionBlock {
    padding-top: 30px;
    text-align: left;
}
.blogHeadingText {
    font-family: Tahoma, Geneva, sans-serif;
}
.blogSubHeadingText {
    font-family: Arial, Helvetica, sans-serif;
}
.blogDescriptionText {
    font-family: Tahoma, Geneva, sans-serif;
}
.youtubeLinkBlock {
    text-align: left;
}
.sectionBlock {
    //text-align: left;
    // line-height: 30px;
    // font-weight: 400;
    // font-family: "Source Serif Pro", sans-serif;
}
.sectionContent-text{
    padding-top: 20px;
}
.buttonSetBlock{
    padding-bottom: 20px;
}
//media query

//for IPAD
@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    .offSet6 {
        padding-left: 60%;
    }
}

//for Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .stepInfo {
        font-size: 30px;
    }
    .headingController {
        padding-top: 8%;
    }
    .progressController {
        padding-top: 10%;
    }
    .stepController {
        padding-top: 20%;
    }
    .sectionHead {
        padding: 2px;
    }
    .sectionTitle {
        font-size: 15px;
        width: 25%;
    }
    .sectionController {
        font-size: 20px;
    }
    .sectionController i {
        padding-right: 3px;
        padding-left: 3px;
    }
    .offSet6 {
        padding-left: 55%;
    }
}
