.loadingSpinner {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loadingSpinnerContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
