.icoSetSection {
    font-size: 20px;
}
.icoItems {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.navbar-nav {
    flex-direction: row !important;
}
.notificationBadge{
    position: relative;
    left: -8px;
    bottom: 10px;
    font-size: 55% !important;
}
//for IPAD
@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {
    
}

//for Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .userNameSection #userName{
        display: none !important;
    }
    .icoItems {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }
}
