.fieldBlock {
    text-align: left;
    color: black;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.headingBlock {
    color: #007bff;
    font-weight: bold;
    text-align: center;
}
.forgetPassword {
    overflow: hidden;
    display: inline-block;
    font-size: medium;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}
.customButton {
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}

//media query
@media screen and (min-width: 600px) {
    .fieldBlock {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .fieldBlock {
        width: 80%;
    }
}
