.notificationItem {
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin: 0px !important;
}
.notificationItem:hover {
    background-color: #d6e4eb;
}
.popoverFooter {
    font-size: 12px !important;
    text-align: right;
    text-decoration: underline;
    color: blue;
    background-color: #f7f7f7;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
}
.popoverFooter strong {
    cursor: pointer;
}
