.ReportComponent {
    padding-top: 50px;
}
.card-sm {
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    border-radius: 3%;
}
.card-sm-content {
    padding: 30px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.card-md {
    width: 100%;
    height: 350px;
    background-color: #343a40;
    color: white;
    text-align: left;
    border-radius: 3%;
}
.chartContent {
    padding: 10px;
    height: 100%;
    width: 100%;
}
.primary-gradient {
    background-color: #2d2587;
    background-image: linear-gradient(to right, #4638c2, #2d2587);
    border-color: #2d2587;
    color: white;
}
.info-gradient {
    background-color: #4280b4;
    background-image: linear-gradient(to right, #4799eb, #4280b4);
    border-color: #4280b4;
    color: white;
}
.warning-gradient {
    background-color: #dd9124;
    background-image: linear-gradient(to right, #e1a82d, #dd9124);
    border-color: #dd9124;
    color: white;
}
.danger-gradient {
    background-color: #c14f4f;
    background-image: linear-gradient(to right, #d16767, #c14f4f);
    border-color: #c14f4f;
    color: white;
}
.td-Action i{
    cursor: pointer;
}
//override chart js 2 classes
.chartjs-size-monitor {
    position: relative !important;
}
.chartjs-render-monitor {
    height: 260px !important;
    width: 100% !important;
}
//media query start
//for IPAD
@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {
}

//for Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .card-sm {
        height: 100px;
    }
    .responsiveCard-sm {
        padding-top: 30px;
    }
    .card-sm-content {
        padding: 20px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }
}
