.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: white;
  // background-image: url("./UI/Images/LoginBackground1.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
}
// span {
//   display: block;
// }
.containerBody {
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(61, 61, 61), rgb(0, 0, 0));
}
.customTextBox {
  background-color: transparent;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  outline: 0;
  border-width: 0 0 2px;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}
.customTextBox:focus {
  border-width: 0 0 3px;
  border-color: #007bff;
  transition: width 0.15s ease-in-out;
}
.customTextBox:hover {
  border-width: 0 0 3px;
  border-color: #007bff;
  transition: width 0.15s ease-in-out;
}
.customTextBox:active {
  border-width: 0 0 3px;
  border-color: #007bff;
  transition: width 0.15s ease-in-out;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.alertBlock {
  height: 30px;
  min-height: 30px;
  margin-bottom: 15px;
}
.errorMsg {
  background-color: rgb(226, 128, 128);
  color: white;
  text-align: center;
  padding: 10px;
}
.errorFont {
  color: red;
}
.sucessMsg {
  background-color: rgb(125, 228, 171);
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 10px;
}
.hide{
  display: none;
}
.react-icons {
  vertical-align: middle;
}